{% extends 'base.html' %}
{% load static %}
{% load imagefit %}

{% block title %}
    <title>{{ product.seo_title }}</title>
    <meta name="description" content="{{ product.desc }}">
    <meta name="keywords" content="{{ product.keywords }}"> 
{% endblock title %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.product_type.get_absolute_url }}">{{ product.product_type.name }}</a></li>
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
    <div class="row">
        <div class="col-lg-6">
            <div class="sp-loading mt-5">
                <img src="{% static 'images/sp-loading.gif' %}" alt="">
                <p>загрузка изображений</p>
            </div>
            <div class="sp-wrap mb-4 mb-lg-5">
                {% for image in product.images.all %}
                    <a href="{{ image.image.url|resize:'product_resize' }}"><img src="{{ image.image.url|resize:'product_medium_resize' }}" alt=""></a>
                {% endfor %}
            </div>
        </div>            
        <div class="col-lg-6">
            <h1 class="h3 m-0 mb-lg-3 mb-2 font-weight-normal lh-15 ">{{ product.name }}</h1>
            <div class="product-price-div mb-4">
                {% if product_price != product_price_without_sale %}
                    <span class="product-price h4 font-2 font-weight-normal text-muted mr-2"><del>{{ product_price_without_sale }}</del></span>
                    <span class="product-price h3 font-2 text-danger">{{ product_price }}<i class="fas fa-ruble-sign fa-xs ml-1"></i></span>
                {% else %}
                    <span class="product-price h3 font-2 text-dark">{{ product_price }}<i class="fas fa-ruble-sign fa-xs ml-1"></i></span>
                {% endif %}
            </div>
            <form action="{% url 'add_to_cart' %}" id="add-to-cart" method="POST">
                {% csrf_token %}
                <button class="btn btn-primary font-2 mb-3" data-product-id="{{ product.id }}"><i class="fas fa-shopping-basket mr-3"></i>добавить в корзину</button>
            </form>   
            <ul class="list-unstyled mb-5">
                <div class="mb-4">
                    <form action="{% url 'change_prop' %}" method="POST" id="product-prop-form" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <li class="py-2">
                            <span class="d-block mb-1 smaller font-weight-bold">Размер:</span>
                            <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                                {% for size in sizes %}
                                    {% if size == first_size %}
                                        <label class="size_button btn btn-info mb-1 active">
                                            <input type="radio" name="options" value="{{ size }}" autocomplete="off">{{ size }}
                                        </label>
                                    {% else %}
                                        <label class="size_button btn btn-info mb-1">
                                            <input type="radio" name="options" value="{{ size }}" autocomplete="off">{{ size }}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <li class="py-2">
                            <span class="d-block mb-1 smaller font-weight-bold">Материал:</span>
                            <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                                {% for material in materials %}
                                    {% if material == first_material %}
                                        <label class="material_button btn btn-info mb-1 active">
                                            <input type="radio" name="options" value="{{ material }}" autocomplete="off">{{ material }}
                                        </label>
                                    {% else %}
                                        <label class="material_button btn btn-info mb-1">
                                            <input type="radio" name="options" value="{{ material }}" autocomplete="off">{{ material }}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    </form>
                </div>

                <li class="smaller text-muted mb-2"><p class="mb-3">{{ product.description|safe }}</p></li>
                <li class="smaller text-muted mb-2">Особенности:<strong class="ml-2 text-dark">{{ product.features }}</strong></li>
                <li class="smaller text-muted mb-2">Цвет:<strong class="ml-2 text-dark">{{ product.color }}</strong></li>
                <li class="smaller text-muted mb-2">Артикул:<strong class="ml-2 text-dark">{{ product.vendor_code }}</strong></li>
            </ul>
        </div>            
    </div>

    <h1 class="h3 m-0 mb-4 mt-0 mt-lg-4 font-weight-normal">Вам могут понравится:</h1>
    <div class="row">
        {% for item in similar_offers %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="product-item mb-5 cp">
                    <img src="{{ item.product.get_main_image.image.url|resize:'similar_resize' }}" class="w-100 product-item-img mb-2" alt="">
                    <div class="eq-h mb-2">
                        <a href="{{ item.product.get_absolute_url }}" class="stretched-link text-dark smaller">{{ item.product.name }}</a>
                        <span class="d-block small text-muted">{{ item.prodcut.category.name }}</span>
                    </div>
                    {% if item.price != item.price_without_sale %}
                        <span class="font-2 mr-2"><del>{{ item.price_without_sale }}</del></span>
                        <span class="font-2 text-danger">{{ item.price }}<i class="fas fa-ruble-sign fa-xs ml-1"></i></span>
                    {% else %}
                        <span class="font-2 text-dark">{{ item.price }}<i class="fas fa-ruble-sign fa-xs ml-1"></i></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}