{% autoescape off %}
    Вы получили это письмо, потому что вы (или кто-то другой) указали этот адрес электронной почты при регистрации на сайте http://{{ domain }}.

    Если вы не регистрировались на этом сайте, просто проигнорируйте данное письмо. 

    Пожалуйста, перейдите по этой ссылке для подтверждения электронной почты:

    http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

    Спасибо, что пользуетесь нашим сервисом!

    Команда сайта http://{{ domain }}
{% endautoescape %}