{% extends 'base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-xl-4 col-lg-5 col-md-6">
            <i class="far fa-envelope fa-3x mb-4 text-primary"></i>
            <h1 class="h3 m-0 mb-3 font-weight-normal">Получилось!</h1>
            <p class="mb-5">Инструкции для активации отправлены на указанный вами E-mail</p>
        </div>
    </div>
</div>
{% endblock content %}