{% extends 'base.html' %}

{% block title %}
    <title>Вход</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-5 col-md-6">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link text-dark font-2 active" data-toggle="tab" href="#Login"><h1>Войти</h1></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark font-2" href="{% url 'register' %}">Регистрация</a>
                </li>
            </ul>
            <div class="tab-content pt-4 px-3 mb-5">
                <div class="tab-pane fade show active" id="Login">
                    <form class="needs-validation" novalidate method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ login_form.username }}
                            <div class="invalid-feedback">
                                Это поле должно быть заполнено
                            </div>
                        </div>
                        <div class="form-group">
                            {{ login_form.password }}
                            <div class="invalid-feedback">
                                Это поле должно быть заполнено
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="reset-password.html" class="small">Забыли пароль?</a>
                            <div class="custom-control custom-checkbox mt-n1">
                                {{ login_form.remember_me }}
                                <label class="custom-control-label small" for="customCheck1">Запомнить меня</label>
                            </div>
                        </div>

                        <button class="btn btn-primary mx-auto d-block font-2 is-mouse-focused mt-5" type="submit">войти</button>

                        {% include '__recaptcha.html' %}
                    </form>

                    {% for error in login_form.non_field_errors %}
                        <div class="alert alert-danger small mt-4" role="alert">
                            <strong>Ошибка!</strong> {{ error }}
                        </div>
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger small mt-4" role="alert">
                                <strong>Ошибка!</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="bg-light p-3 mt-4">
                        <p class="text-muted small m-0">Нажимая кнопку "войти", вы даёте согласие на <a href="{% url 'agreement' %}" target="_blank">обработку персональных данных</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}