{% extends 'base.html' %}

{% block title %}
    <title>Востановление пароля</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-5 col-md-6">
            <h1 class="h3 m-0 mb-4 font-weight-normal text-center">Новый пароль</h1>
            <form class="needs-validation px-3" novalidate method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1 }}
                    <div class="invalid-feedback">
                        Это поле должно быть заполнено
                    </div>
                </div>
                <div class="form-group">
                    {{ form.new_password2 }}
                    <div class="invalid-feedback">
                        Это поле должно быть заполнено
                    </div>
                </div>
                <button class="btn btn-primary mx-auto d-block font-2 is-mouse-focused mt-5" type="submit">сохранить пароль</button> 
            </form>
            
            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger small mt-4" role="alert">
                    <strong>Ошибка!</strong> {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}





















